<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" http-equiv="user-scalable:no" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width">
    <title>公告信息操作日志</title>
    <link rel="stylesheet" href="../commons/css/font/iconfont.css"/>
    <link rel="stylesheet" href="../commons/css/awsui.css"/>
    <script src="../commons/js/jquery/scripts/jquery.js"></script>
    <script src="../commons/js/awsui.js"></script>
</head>
<body>
<div style="width: 100%;text-align: center;">
    <div id="title" style="text-align: center;"><h3><#title></h3></div>
    <div id="content" style="text-align: center;"><#optionTable></div>
</div>
</body>
</html>