<!DOCTYPE html>
<html>
	<head>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>临时用户申请表</title>
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
		<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width">
		
		[#AWSImport]
		[#AWSUIImport]
		
		<link rel='stylesheet' id='schemeCss' href='../apps/_bpm.platform/css/colorschemes/scheme_aws.css'  name='schemeCss'/>
	
<link type='text/css' rel='stylesheet' id='themeCss' href='../apps/_bpm.platform/css/theme/theme_m.css' name='themeCss'/>
</head>
	<body>
<form id="frmMain" name="frmMain" method="post">
<div id="aws-form-container" class="mui-scroll-wrapper mobile-main-form" border="0"><!--class="aws-form-ux-container"-->
<table id="aws-form-maintable" class="awsui-ux aws-form-ux-maintable" style="table-layout: auto;" align="center" border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr id="aws-form-titlebg" class="aws-form-ux-titlebg" style="display: none;">
<td id="aws-form-title" class="aws-form-ux-header">临时用户申请表</td>
</tr>
<tr class="aws-form-ux-formcontent" id="aws-form-formcontent">
<td>
<table id="table_container" class="awsui-ux table-striped" style="padding: 0px;" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="awsui-ux-title" colspan="2"><label id="FORMNOLabel" for="FORMNO">单号</label></td>
</tr>
<tr>
<td class="aws-form-ux-content" colspan="2" style="padding-left: 12px;">[#FORMNO]</td>
</tr>
<tr>
<td class="awsui-ux-title" colspan="2"><label id="USERNAMELabel" for="USERNAME">姓名</label></td>
</tr>
<tr>
<td class="aws-form-ux-content" colspan="2" style="padding-left: 12px;">[#USERNAME]</td>
</tr>
<tr>
<td class="awsui-ux-title" colspan="2"><label id="IDCARDLabel" for="IDCARD">身份证号</label></td>
</tr>
<tr>
<td class="aws-form-ux-content" colspan="2" style="padding-left: 12px;">[#IDCARD]</td>
</tr>
<tr>
<td class="awsui-ux-title" colspan="2"><label id="DEPARTMENTNAMELabel" for="DEPARTMENTNAME">部门</label></td>
</tr>
<tr>
<td class="aws-form-ux-content" colspan="2" style="padding-left: 12px;">[#DEPARTMENTNAME]</td>
</tr>
<tr>
<td class="awsui-ux-title" colspan="2"><label id="ROLENAMELabel" for="ROLENAME">角色</label></td>
</tr>
<tr>
<td class="aws-form-ux-content" colspan="2" style="padding-left: 12px;">[#ROLENAME]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label id="TIMESIZELabel" for="TIMESIZE">申请使用时间</label></td>
<td class="aws-form-ux-content">[#TIMESIZE]</td>
</tr>
<tr>
<td class="awsui-ux-title" colspan="2"><label id="TIMEUNITLabel" for="TIMEUNIT">时间单位</label></td>
</tr>
<tr>
<td class="aws-form-ux-content" colspan="2" style="padding-left: 12px;">[#TIMEUNIT]</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr class="aws-form-ux-formcontent">
<td>[#historyOpinions]</td>
</tr>
<tr class="aws-form-bottom">
<td class="aws-form-ux-actionsoft">[#Actionsoft]
<div id="hiddenArea" border="0" style="display: none;">[#DEPARTMENTID][#ROLEID][#LIMITTIME][#ISREMOVE][#ACTIVATETIME][#PREFIX][#UID]</div>
</td>
</tr>
</tbody>
</table>
</div>
</form>
</body>
</html>